.main-section-banner {
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/kindle/journeys/Y2UwYWM0MDQt/Y2UwYWM0MDQt-N2YzZjRlYjMt-w1500._CB668822255_.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}